@font-face {
    font-family: 'ThaiSansNeue-Black';
    src: url('../fonts/truebold.eot');
    src: local('truebold'),  url('../fonts/ThaiSansNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Black.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Black.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ThaiSansNeue-Bold';
    src: url('fonts/truemedium.eot');
    src: local('truemedium'),  url('../fonts/ThaiSansNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Bold.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Bold.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSansNeue-Light';
    src: url('fonts/truemedium.eot');
    src: local('truemedium'),  url('../fonts/ThaiSansNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Light.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Light.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSansNeue-Regular';
    src: url('fonts/truemedium.eot');
    src: local('truemedium'),  url('../fonts/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Regular.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Regular.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background: url('../images/bg.jpg');
}

.wrapper{
    width:1300px;
    margin: 0 auto;
}
header{
    height:78px;
    background:#ffde00;
    position: relative;
}
header .vector{
    background:url('../images/header_vector.png');
    height:50px;
    width:1300px;
    top:14px;
    position:absolute;
}
header .logo{
    background:url('../images/logo.png');
    height:46px;
    width:263px;
    position:absolute;
    left:179px;
    top: 7px;
}
a{
    text-decoration: none;
    color: #000;
}
.footer{
    text-align: right;
    color:#fff;
    font:18px 'ThaiSansNeue-Light';
}
.product_2{
    background:url('../images/home/product_2.png') 0px 0px;
    font:16px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    position: relative;
}

.product_3{
    background:url('../images/home/product_3.png') 0px 0px;
    font:16px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_4{
    background:url('../images/home/product_4.png') 0px 0px;
    font:16px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_5{
    background:url('../images/home/product_5.png') 0px 0px;
    font:16px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_6{
    background:url('../images/home/product_6.png') 0px 0px;
    font:16px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_2 a{
    position: absolute;
    top: 8px;
}
.product_3 a,.product_4 a,.product_5 a,.product_6 a{
    position: absolute;
    top: 6px;
}

.product_2 a:hover,.product_3 a:hover,.product_4 a:hover,.product_5 a:hover,.product_6 a:hover{
    color:#f00;
}

select{
    font:16px 'ThaiSansNeue-Light';
    background: #333333;
    border: 1px #000 solid;
    border-radius: 3px;
    color:#ffffff;
}
.vdo{
    margin-bottom: 10px;
    width: 420px;
    overflow: hidden;
    margin-left: 5px;
    border-radius: 5px;
}
.btn-vdo{
    background: #282618;
    border-top: 0px #000 solid;
    border-right: 0px #000 solid;
    border-bottom: 2px #322c01 solid;
    border-left: 2px #322c01 solid;
    font:18px 'ThaiSansNeue-Light';
    color:#ffffff;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}
.btn-vdo:hover{
    background: #ffde00;
    color: #413800;
    border-top: 0px #000 solid;
    border-right: 0px #000 solid;
    border-bottom: 2px #d5bb0d solid;
    border-left: 2px #d5bb0d solid;
}
.menu{
    position: absolute;
    top: 24px;
    left: 263px;
    overflow: hidden;
    text-align: center;
}
.whatnews {
    width: 355px;
    height: 260px;
}
.whatnews p {
    font:18px 'ThaiSansNeue-Light';
    padding: 0px;
    margin: 0px;
    color: #000;
    text-align: center;
}
.whatnews_frame{
    height: 180px;
    width: 340px;
    background: #000;

    border: 5px solid #fff;
    margin: 0 auto;
    overflow: hidden;
}
.whatnews_frame img{
    min-width: 100%;
    max-height: 200px;
}
.bx-has-controls-direction{
    position: absolute;
    top: -29px;
    right: 26px;
    width: 110px;
}
.bx-wrapper, .bx-viewport {
    height:260px  !important; 
}
.bx-wrapper img{
    min-width: 100%;
    max-height: 200px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #ffde00; 
}
.highlight{
    float: left;
    display: block;
    margin-left: 5px;
}
.highlight  img{
    width: 245px;
}
.wrapper{
    min-height: 500px;
    width: 946px;
}

.contact{
    height: 1020px;
    width: 946px;
    background: url('../images/bg-trans.png')  no-repeat;
}


.title_trans{
    height: 71px;
    width: 944px;
    background: url('../images/bg_title_trans.png') no-repeat;

}
.title_trans h1{
    color:#ffde00;
    font:50px 'ThaiSansNeue-Bold';
    margin-left: 20px;
}
p.contact_detail{
    color:#ffffff;
    font:20px 'ThaiSansNeue-Regular';
    text-indent: 20px;
    padding:10px 20px;
}
.c_danger{
    color:#f00;
    font:18px 'ThaiSansNeue-Regular';
}
.contact_form{
    width: 100%;
    font:18px 'ThaiSansNeue-Light';
    margin-top: 20px;
}
.contact_form tr td{
    padding-left: 20px;
    padding-bottom: 20px;
}
.contact_form label{
    color: #ffde00;
    margin-bottom: 10px;
}
.map{
    height: 354px;
    width: 408px;
    background: url('../images/map_bg.png')  no-repeat;
    margin-top: 75px;
    padding: 15px;
}
.address_detail h1{
    font:30px 'ThaiSansNeue-Bold';
    color: #ffde00;
}
.address_detail p{
    font:20px 'ThaiSansNeue-Regular';
    color: #fff;
}
#map_canvas {
    width: 376px;
    height: 303px;
    border: 2px #000 solid;
}

.sidebar-l{
    height: 290px;
    width: 266px;
    background: url('../images/sidebar_bg.png')  no-repeat;
    float: left;
}
.contact-r{
    height: 812px;
    width: 667px;
    background: url('../images/bg-trans-r.png')  no-repeat;
    float: right;
}

.title_trans-r{
    height: 71px;
    width: 944px;
    background: url('../images/bg_title_trans-r.png') no-repeat;
    float: left;
    position: relative;

}
.contact-r h1{
    color:#ffde00;
    font:50px 'ThaiSansNeue-Bold';
    margin-left: 20px;
    position: absolute;
    top: -35px;
}
.knowledge_title{
    height: 76px;
    width: 236px;
    background: url('../images/knowledge-logo.png') no-repeat;
    float: left;
    position: relative;
    margin: 12px;

}
.about_title{
    height: 75px;
    width: 235px;
    background: url('../images/about-logo.png') no-repeat;
    float: left;
    position: relative;
    margin: 12px;

}

.sidemenu{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.sidemenu li{
    line-height: 5px;
}