@font-face {
    font-family: 'ThaiSansNeue-Black';
    src: url('../fonts/truebold.eot');
    src: local('truebold'),  url('../fonts/ThaiSansNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Black.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Black.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ThaiSansNeue-Bold';
    src: url('fonts/truemedium.eot');
    src: local('truemedium'),  url('../fonts/ThaiSansNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Bold.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Bold.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSansNeue-Light';
    src: url('fonts/truemedium.eot');
    src: local('truemedium'),  url('../fonts/ThaiSansNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Light.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Light.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ThaiSansNeue-Regular';
    src: url('fonts/truemedium.eot');
    src: local('truemedium'),  url('../fonts/ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThaiSansNeue-Regular.woff') format('woff'), 
        url('../fonts/ThaiSansNeue-Regular.ttf') format('truetype'), 
        url('../fonts/ThaiSansNeue-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    background: url('../images/bg.jpg');
}

.wrapper{
    width:1300px;
    margin: 0 auto;
}
header{
    height:78px;
    background:#ffde00;
    position: relative;
}
header .vector{
    background:url('../images/header_vector.png');
    height:50px;
    width:1300px;
    top:14px;
    position:absolute;
}
header .logo{
    background:url('../images/logo.png');
    height:46px;
    width:263px;
    position:absolute;
    left:179px;
    top: 7px;
}
a{
    text-decoration: none;
    color: #000;
}
.footer{
    text-align: right;
    color:#fff;
    font:22px 'ThaiSansNeue-Light';
}
.product_2{
    background:url('../images/home/product_2.png') 0px 0px;
    font:20px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    position: relative;
}

.product_3{
    background:url('../images/home/product_3.png') 0px 0px;
    font:18px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_4{
    background:url('../images/home/product_4.png') 0px 0px;
    font:18px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_5{
    background:url('../images/home/product_5.png') 0px 0px;
    font:18px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_6{
    background:url('../images/home/product_6.png') 0px 0px;
    font:18px 'ThaiSansNeue-Black';
    padding-left: 40px;
    height:31px;
    width:210px;
    line-height: 31px;
    position: relative;
}
.product_2 a{
    position: absolute;
    top: 8px;
}
.product_3 a,.product_4 a,.product_5 a,.product_6 a{
    position: absolute;
    top: 6px;
}

.product_2 a:hover,.product_3 a:hover,.product_4 a:hover,.product_5 a:hover,.product_6 a:hover{
    color:#f00;
}

select{
    font:18px 'ThaiSansNeue-Light';
    background: #333333;
    border: 1px #000 solid;
    border-radius: 3px;
    color:#ffffff;
}
.vdo{
    margin-bottom: 10px;
    width: 420px;
    overflow: hidden;
    margin-left: 5px;
    border-radius: 5px;
}
.btn-vdo{
    background: #282618;
    border-top: 0px #000 solid;
    border-right: 0px #000 solid;
    border-bottom: 2px #322c01 solid;
    border-left: 2px #322c01 solid;
    font:20px 'ThaiSansNeue-Light';
    color:#ffffff;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}
.btn-vdo:hover{
    background: #ffde00;
    color: #413800;
    border-top: 0px #000 solid;
    border-right: 0px #000 solid;
    border-bottom: 2px #d5bb0d solid;
    border-left: 2px #d5bb0d solid;
}
.menu{
    position: absolute;
    top: 24px;
    left: 263px;
    overflow: hidden;
    text-align: center;
}
.whatnews {
    width: 355px;
    height: 260px;
}
.whatnews p {
    font:20px 'ThaiSansNeue-Light';
    padding: 0px;
    margin: 0px;
    color: #000;
    text-align: center;
}
.whatnews_frame{
    height: 180px;
    width: 340px;
    background: #000;

    border: 5px solid #fff;
    margin: 0 auto;
    overflow: hidden;
}
.whatnews_frame img{
    min-width: 100%;
    max-height: 200px;
}
.bx-has-controls-direction{
    position: absolute;
    top: -29px;
    right: 26px;
    width: 110px;
}
.bx-wrapper, .bx-viewport {
    height:260px  !important; 
}
.bx-wrapper img{
    min-width: 100%;
    max-height: 200px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #ffde00; 
}
.highlight{
    float: left;
    display: block;
    margin-left: 5px;
}
.highlight  img{
    width: 245px;
}
.wrapper{
    min-height: 500px;
    width: 946px;
}

.contact:before{
    width: 946px;
    height: 20px;
    content: '';
    background: url('../images/bg-trans-top.png') no-repeat;
    position: absolute;
    top:0px;
}
.contact{
    width: 946px;
    background: url('../images/bg-trans.png') repeat-y;
    position: relative;
}
.contact:after{
    width: 946px;
    height: 20px;
    content: '';
    background: url('../images/bg-trans-top.png') no-repeat;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    bottom:-20px;
}

.title_trans{
    height: 71px;
    width: 944px;
    background: url('../images/bg_title_trans.png') no-repeat;

}
.title_trans h1{
    color:#ffde00;
    font:50px 'ThaiSansNeue-Bold';
    margin-left: 20px;
}

p.contact_detail{
    color:#ffffff;
    font:22px 'ThaiSansNeue-Regular';
    text-indent: 20px;
    padding:10px 20px;
}
.c_danger{
    color:#f00;
    font:20px 'ThaiSansNeue-Regular';
}
.contact_form{
    width: 100%;
    font:20px 'ThaiSansNeue-Light';
    margin-top: 20px;
}
.contact_form tr td{
    padding-left: 20px;
    padding-bottom: 20px;
}
.contact_form label{
    color: #ffde00;
    margin-bottom: 10px;
}
.map{
    height: 354px;
    width: 408px;
    background: url('../images/map_bg.png')  no-repeat;
    margin-top: 75px;
    padding: 15px;
}
.address_detail h1{
    font:30px 'ThaiSansNeue-Bold';
    color: #ffde00;
}
.address_detail p{
    font:22px 'ThaiSansNeue-Regular';
    color: #fff;
}
#map_canvas {
    width: 376px;
    height: 303px;
    border: 2px #000 solid;
}
.sidebar-l:before{
    height: 10px;
    width: 266px;
    background: url('../images/sidebar_bg_top.png')  no-repeat;
    top: -10px;
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    right: 0;
    left: 0;
}
.sidebar-l:after{
    height: 10px;
    width: 266px;
    background: url('../images/sidebar_bg_top.png')  no-repeat;
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    bottom:-10px; /* position it off the top background */
    right: 0;
    left: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.sidebar-l{
    top: 10px;
    display: block;
    width: 266px;
    background: url('../images/sidebar_bg.png') ;
    float: left;
    position: relative;
}
.contact-r:before{
    height: 18px;
    width: 667px;
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    top: 0px; /* position it off the top background */
    right: 0;
    left: 0;
    background: url('../images/bg-trans-r-top.png')  no-repeat;
}

.contact-r:after{
    height:17px;
    width: 667px;
    content: '';
    position: absolute;
    z-index: -1; /* push it to the background */
    bottom:  -5px; /* position it off the top background */
    right: 0;
    left: 0;
    background: url('../images/bg-trans-r-bot.png')  no-repeat;
}
.contact-r{
    width: 667px;
    background: url('../images/bg-trans-r.png') repeat-y;
    float: right;
    position: relative;
}




.title_trans-r{
    height: 71px;
    width: 944px;
    background: url('../images/bg_title_trans-r.png') repeat-y;
    float: left;
    position: relative;

}
.contact-r p {
    font:20px 'ThaiSansNeue-Bold';
    color:#fff;
}
.contact-r h1{
    color:#ffde00;
    font:50px 'ThaiSansNeue-Bold';
    margin-left: 20px;
    position: absolute;
    top: -35px;
}
.contact-r  h2{
    color:#fff;
    font:20px 'ThaiSansNeue-Bold';
    margin-left: 20px;
}
.knowledge_title{
    height: 76px;
    width: 236px;
    background: url('../images/knowledge-logo.png') no-repeat;
    float: left;
    position: relative;
    margin: 12px;

}
.about_title{
    height: 75px;
    width: 235px;
    background: url('../images/about-logo.png') no-repeat;
    float: left;
    position: relative;
    margin: 12px;

}

.product_title{
    height: 80px;
    width: 238px;
    background: url('../images/product/Product_menu.png') no-repeat;
    float: left;
    position: relative;
    margin: 12px;

}

.sidemenu{
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}
.sidemenu li{
    line-height: 5px;
}
.sidemenu li ul{
    display: none;
}
.sidemenu li.active ul{
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.border-radius{
    border-radius: 5px;
}

.mapaddress{
    width: 251px;
    height: 463px;
    position: absolute;
    top:80px;
    left: 20px;
    background: url('../images/address/map1.png')  no-repeat;
}

.mapaddress.bg1{
    background: url('../images/address/map1.png')  no-repeat;
}
.mapaddress.bg2{
    background: url('../images/address/map4.png')  no-repeat;
}

.mapaddress.bg3{
    background: url('../images/address/map3.png')  no-repeat;
}

.mapaddress.bg4{
    background: url('../images/address/map5.png')  no-repeat;
}

.mapaddress.bg5{
    background: url('../images/address/map1.png')  no-repeat;
}

.mapaddress.bg6{
    background: url('../images/address/map6.png')  no-repeat;
}
.mapaddress.bg7{
    background: url('../images/address/map2.png')  no-repeat;
}

.dealer_list{
    background: url('../images/address/dealer_zone.png')  no-repeat;
    width: 172px;
    height: 202px;
    position: absolute;
    top: 300px;
    left: 210px;
    padding-top: 36px;
}

.province_list{
    width: 550px;
    min-height: 200px;
    position: absolute;
    left: 390px;
    padding: 10px;
}
.province_list h1{
    font: 30px 'ThaiSansNeue-Bold';
    color: #ffde00;
}
.area_name a{
    background: url('../images/address/pin3.png') no-repeat 0px;
    font: 18px 'ThaiSansNeue-Bold';
    display: block;
    float: left;
    width: 100px;
    color: #fff;
    padding-left: 14px;
    margin: 6px 13px;
    text-decoration: none;
}
.zone_name a{
    background: url('../images/address/pin4.png') no-repeat 0px;
    font: 20px 'ThaiSansNeue-Bold';
    display: block;
    float: left;
    width: 170px;
    color: #fff;
    padding-left: 14px;
    margin: -1px 15px;
    text-decoration: none;
}
.zone_name a:hover,.area_name a:hover{
    color: #ffde00;
}
.zone_name a.active,.area_name a.active{
    color: #ffde00;
}
.dealer_detail{
    color: #fff;
    position: absolute;
    top: 555px;
    width: 915px;
    padding: 10px;
    margin: 15px;
}
table .tb_dealer_detail{
    width: 100%;
    border: 3px solid #ffde00;
}
table .tb_dealer_detail  thead{
    background: #343434;
    color: #ffde00;

}
table .tb_dealer_detail  thead tr th{
    text-align: center;
    padding: 5px;
    font:20px 'ThaiSansNeue-Regular';
    border: 2px #a7a8a8 solid;
}

table .tb_dealer_detail  tbody tr td{
    padding: 8px;
    color: #363636;
    font:18px 'ThaiSansNeue-Regular';
    border: 2px #a7a8a8 solid;
}
table .tb_dealer_detail  tbody tr:nth-child(even) {background: #fce650}
table .tb_dealer_detail  tbody tr:nth-child(odd) {background: #e9e9e9}
.content{
    background: #fce75e;
    margin: 10px;
    border-radius: 5px;
    margin-top: 80px;
    font: 16px 'ThaiSansNeue-Bold';
}

.list_bar{
    padding:0px 20px;
}
/* Clean up the lists styles */
ul.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Hide the radio buttons */
/* These are what allow us to toggle content panes */
ul.accordion label + input[type='radio'] {
    display: none;
}

/* Give each content pane some styles */
ul.accordion li {
}

/* Make the main tab look more clickable */
ul.accordion label {
    background: url('../images/list_bar.png') no-repeat;
    color: #1c1c1c;
    display: block;
    font: 20px 'ThaiSansNeue-Bold';
    height: 31px;
    padding-left: 30px;
    text-shadow: 1px 1px #FFF36B;
}

ul.accordion label:hover {
    cursor: pointer;
}


/* Set up the div that will show and hide */
ul.accordion div.content_list {
    overflow: hidden;
    margin: 0 10px;
    padding: 0 10px;
    display: none;
    background-color: #fce75e;
    font: 16px 'ThaiSansNeue-Bold';
    color: #000;
}
ul.accordion div.content_list  img{
    margin: 10px;
}
ul.accordion div.content_list p{
    color: #000 !important;
}
/* Show the content boxes when the radio buttons are checked */
ul.accordion label + input[type='radio']:checked + div.content_list {
    display: block;
}

.passenger_car_graph{
    margin: 0 auto;
    background: url('../images/product/pass_graph.png') no-repeat;
    width: 637px;
    height: 281px;
    margin-top: 80px;
    position: relative;
}
.passenger_car_graph .point1{
    position: absolute;
    background: url('../images/product/pass_graph_1.png') no-repeat;
    width: 85px;
    height: 16px;
    top: 77px;
    left: 122px;
}
.passenger_car_graph .point2{
    position: absolute;
    background: url('../images/product/pass_graph_2.png') no-repeat;
    width: 107px;
    height: 33px;
    top: 86px;
    left: 361px;
}
.passenger_car_graph .point3{
    position: absolute;
    background: url('../images/product/pass_graph_3.png') no-repeat;
    width: 81px;
    height: 32px;
    top: 77px;
    left: 122px;
    top: 140px;
    left: 270px;
}
.passenger_car_graph .point4{
    position: absolute;
    background: url('../images/product/pass_graph_4.png') no-repeat;
    width: 84px;
    height: 18px;
    top: 199px;
    left: 495px;
}
.passenger_car_graph .point5{
    position: absolute;
    background: url('../images/product/pass_graph_5.png') no-repeat;
    width: 88px;
    height: 25px;
    top: 172px;
    left: 451px;
}
.passenger_car_graph .point6{
    position: absolute;
    background: url('../images/product/pass_graph_6.png') no-repeat;
    width: 86px;
    height: 31px;
    top: 150px;
    left: 388px;
}

.passenger_car_use{
    margin: 0 auto;
    margin-top: 30px;
    background: url('../images/product/pass_img_1.jpg') no-repeat;
    width: 635px;
    height: 303px;
    top: 77px;
    left: 122px;
}
.passenger_car_graph  a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}


.passenger_car_size:before{
    margin: 0 auto;
    background: url('../images/product/detail_table_1.png') no-repeat;
    width: 242px;
    height: 30px;
    top: -30px;
    content: '';
    position: absolute;
    z-index: 10;
    left: 0;
}
.passenger_car_size{
    margin: 10px auto;
    width: 645px;;
    min-height: 200px;
    margin-top: 60px;
    position: relative;
    background:#fddd00;
    position: relative;
    padding: 5px;
}
.passenger_car_size table{

}
.passenger_car_size table thead{
    color: #ffde00; 
    background:#343434;
}
.passenger_car_size table thead tr th{
    padding: 5px;
    font:20px 'ThaiSansNeue-Regular';
    border: 1px #a4b0a2 solid;
    text-align: center;
}

.passenger_car_size table  tbody tr td{
    padding: 8px;
    color: #363636;
    border: 1px #a4b0a2 solid;
    font:18px 'ThaiSansNeue-Regular';
}
.passenger_car_size table  tfoot tr{
    font:18px 'ThaiSansNeue-Regular';
    height:35px;
    background: #343434;
    color: #fff;
}
.passenger_car_size table  tbody tr:nth-child(even) {background: #fbe64f}
.passenger_car_size table   tbody tr:nth-child(odd) {background: #e9e9e9}
.tire-f{
    background: #3f3f37;
    color: #ffde00 !important;
}

.passenger_car{
    margin: 10px auto;
    width: 645px;;
    min-height: 200px;
    margin-top: 80px;
    position: relative;
    padding: 5px;
}
.btn_warranty{
    background: url('../images/product/warranty_button_1.png') no-repeat;
    width: 151px;
    height: 29px;
    display: block;
    float: left;
}
.btn_warranty.active{
    background: url('../images/product/warranty_button_1_OV.png') no-repeat;
}

.btn_warranty2{
    background: url('../images/product/warranty_button_2.png') no-repeat;
    width: 340px;
    height: 29px;
    display: block;
    float: left;
}
.btn_warranty2.active{
    background: url('../images/product/warranty_button_2_OV.png') no-repeat;
}

.btn_prodinfo{
    background: url('../images/product/detail_button_1.png') no-repeat;
    width: 108px;
    height: 29px;
    display: block;
    float: left;

}
.btn_prodinfo.active{
    background: url('../images/product/detail_button_1_OV.png') no-repeat;
}
.btn_tech{
    background: url('../images/product/detail_button_2.png') no-repeat;
    width: 108px;
    height: 29px;
    display: block;
    float: left;
}
.btn_tech.active{
    background: url('../images/product/detail_button_2_OV.png') no-repeat;
}
#prodinfo,#tech{
    width: 100%;
    font: 18px 'ThaiSansNeue-Regular';
    color: #fff;
    margin-top: 32px;
    position: relative;
}
#prodinfo img{
    max-width: 200px;
    margin: 10px;
}
#tech img{
    max-width: 600px;
    text-align: center;
}
#tech{

}

.tire_search{
    width: 560px;
    /* float: right; */
    position: absolute;
    top: 14px;
    left: 286px;
}

.btn-tire-search{
    background: #ffde00;
    border-top: 0px #000 solid;
    border-right: 0px #000 solid;
    border-bottom: 2px #d5bb0d solid;
    border-left: 2px #d5bb0d solid;
    font:20px 'ThaiSansNeue-Light';
    color:#413800;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    cursor: pointer;
}
.btn-tire-search:hover{
    background: #DBC007;
    color: #413800;
    border-top: 0px #000 solid;
    border-right: 0px #000 solid;
    border-bottom: 2px #d5bb0d solid;
    border-left: 2px #d5bb0d solid;
}





.tire_result{

    width: 910px;
    min-height: 200px;
    margin: 20px;
    position: relative;
    background:#fddd00;
    position: relative;
    padding: 5px;
}
.tire_result table{

}
.tire_result table thead{
    color: #ffde00; 
    background:#343434;
}
.tire_result table thead tr th{
    padding:0px 5px 0px 5px;
    font:20px 'ThaiSansNeue-Regular';
    border: 1px #a4b0a2 solid;
    text-align: center;
}

.tire_result table  tbody tr td{
    padding:0px;
    color: #363636;
    border: 1px #a4b0a2 solid;
    font:18px 'ThaiSansNeue-Regular';
    text-align: center;
}
.tire_result table  tfoot tr{
    font:18px 'ThaiSansNeue-Regular';
    height:35px;
    background: #343434;
    color: #fff;
}
.tire_result table  tbody tr:nth-child(even) {background: #fbe64f}
.tire_result table   tbody tr:nth-child(odd) {background: #e9e9e9}

.size{
    background: #414141;
    color: #FCE700 !important;
    width: 50px;
}
.series{

    width: 50px;
}

.content-activities{
    border: 3px solid #ffde00;
    margin: 10px;
    margin-top: 80px;
    padding: 10px;
    font: 16px 'ThaiSansNeue-Bold';
    text-align: left;
    color: #fff;
}
.content-activities img{
    max-width: 85px;
    min-height: 85px;
    border:2px solid #ffde00;
}
.content-list{
    padding: 10px;
}
.content-title{
    padding-top: 10px;
}
.content-title a{
    color: #fff;
}
.paging{
    float: right;
    padding: 10px;
}
.paging strong{
    color: #ffde00;
}
.paging a{
    color: #fff;
}

.content-activities_headline{
    background: url('../images/activities_header.png') no-repeat;
    width:637px;
    height: 32px;
    display: block;
    margin-top: 80px;
    margin-left: 10px;
    padding: 3px;
    text-indent: 20px;
    font: 18px 'ThaiSansNeue-Bold';
}


.content-activities-detail {
    border: 3px solid #ffde00;
    margin: 10px;
    margin-top: -2px;
    width: 637px;
    padding: 10px;
    font: 16px 'ThaiSansNeue-Bold';
    text-align: left;
    color: #fff;
}

.download_pdf{
    background: url('../images/pdf_button.png') no-repeat;
    width:133px;
    height: 39px;
    position: absolute;
    bottom: -25px;
    right:0px;
}

.download_pdf a{
    z-index: 999;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}
.contact-p{
    color: #f4f4f4;
    font: 18px 'ThaiSansNeue-Bold';
    padding:0px 0px 0px 20px;
}
.contact-p table tbody tr td{
    color: #f4f4f4 !important;
    font: 18px 'ThaiSansNeue-Bold';
}
.htitle{
    color: #ffde00;
    font: 35px 'ThaiSansNeue-Bold';
    margin: 0px;
    padding-left: 37px;
}
.albumpic{
    width: 500px;
    margin: 0 auto;
}

.albumpic .bx-has-controls-direction{
    position: absolute;
    top: 255px;
    /* right: 26px; */
    width: 100%;
}
.albumpic .bx-wrapper, .bx-viewport {

}
.albumpic .bx-wrapper img{
    max-width: 100%;
    max-height: 500px;
}
.albumpic .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
    background: #ffde00; 
}